 <mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="columnName">
    <mat-header-cell *matHeaderCellDef> columnHeaderLabel
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.propertyName}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<h1>YouTube Download...</h1>
<table class="table" border="1px solid black">
    <thead>
        <tr>
            <th>Sr no</th>
            <th>Title</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td scope="row">{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.userId}}</td>
        </tr>
    </tbody>
</table> 